@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";


html {
  overflow-y: scroll;
  scrollbar-width: none; 
}

html::-webkit-scrollbar {
  display: none; 
}

body {
  font-family: var(--font-main);
  background-color: var(--color-primary);
}
